@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.transition-color {
  animation: scaleAnimation 1s ease-in-out forwards; /* 애니메이션 적용 */
  background-color: rgb(var(--background-end-rgb)); /* 애니메이션 시작 색상 */
}
@keyframes scaleAnimation {
  0% {
    transform: scaleX(1); /* 애니메이션 시작과 끝에서의 크기 */
    background-color: rgb(
      var(--background-end-rgb)
    ); /* 애니메이션 시작과 끝에서의 색상 */
    opacity: 1; /* 애니메이션 시작과 끝에서의 투명도 */
  }
  100% {
    transform: scaleX(0); /* 애니메이션 시작과 끝에서의 크기 */
    opacity: 0; /* 애니메이션 시작과 끝에서의 투명도 */
    background-color: transparent;
  }
}
